# Ignore node_modules directory (contains all dependencies)
node_modules/
public/
# Ignore log files
*.log

# Ignore environment configuration file (contains sensitive data)
.env

# # Ignore build and dist folders (for compiled files)
# dist/
# build/

# # Ignore OS-specific files
# .DS_Store       # macOS
# Thumbs.db       # Windows

# Ignore package-lock.json (optional, if you don't want it tracked)
package-lock.json
